.container{
    display: flex;
    flex-direction: column;
}
.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .FormaPagamento{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

