.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    padding: 16px;
    margin: 16px;
    border-radius: 12px;
    box-shadow: 0 15px 16px rgba(0, 0, 0, 0.5);
     background-image: url(../../assets/img/backgroundPokmeon-dragon.png); 
    background-size: 100%;
  }

  .divImg {
    
    min-width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 18px;
  }
  
  .img {
    min-width: 65%;
    height: auto;
    border-radius: 12px;
  }
  
  .infos {
    text-align: center;
  }
  
  .nome, .tipo, .valor {
    margin: 8px 0;
    font-size: 16px;
    color: #333;
  }
  
  .input {
    width: 80%;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .botaoRemove {
    padding: 10px 20px;
    margin-top: 16px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .botaoRemove:hover {
    background-color: #e60000;
  }

  .card-bug {
    background-image: url(../../assets/img/backgroundPokmeon-bug.png);
  }
  .card-fire {
    background-image: url(../../assets/img/backgroundPokmeon-fire.png);
  }
  .card-dark{
    background-image: url(../../assets/img/backgroundPokmeon-dark.png);
  }
  .card-electric{
    background-image: url(../../assets/img/backgroundPokmeon-electric.png);
  }
  .card-dragon{
    background-image: url(../../assets/img/backgroundPokmeon-dragon.png);
  }
  .card-fairy{
    background-image: url(../../assets/img/backgroundPokmeon-fairy.png);
  }
  .card-fighting{
    background-image: url(../../assets/img/backgroundPokmeon-fighting.png);
  }
  .card-flyying{
    background-image: url(../../assets/img/backgroundPokmeon-flyying.png);
  }
  .card-ghost{
    background-image: url(../../assets/img/backgroundPokmeon-ghost.png);
  }
  .card-grass{
    background-image: url(../../assets/img/backgroundPokmeon-grass.png);
  }
  .card-ground{
    background-image: url(../../assets/img/backgroundPokmeon-ground.png);
  }
  .card-ice{
    background-image: url(../../assets/img/backgroundPokmeon-ice.png);
  }
  .card-normal{
    background-image: url(../../assets/img/backgroundPokmeon-normal.png);
  }
  .card-poison{
    background-image: url(../../assets/img/backgroundPokmeon-poison.png);
  }
  .card-psychic{
    background-image: url(../../assets/img/backgroundPokmeon-psychic.png);
  }
  .card-rock{
    background-image: url(../../assets/img/backgroundPokmeon-rock.png);
  }
  .card-steel{
    background-image: url(../../assets/img/backgroundPokmeon-steel.png);
  }
  .card-water{
    background-image: url(../../assets/img/backgroundPokmeon-water.png);
  }